# Visual Studio specific files
.vs/

# Build files and folders
Binaries/
Build/
Intermediate/
DerivedDataCache/

# Plugin-specific generated content
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Saved game data and configurations
Saved/

# Built data for maps
*_BuiltData.uasset

# Precompiled headers
*.pch
*.gch

# Compiled object files and binaries
*.obj
*.o
*.so
*.dylib
*.dll
*.lib
*.a
*.exe
*.out
*.app
*.ipa

# IDE and editor-generated project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets (e.g., textures, art)
SourceArt/**/*.png
SourceArt/**/*.tga

# Specific whitelisting rules (if required)
!Build/**/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Exclude everything in the project except 'Source' folder
/*
!/NGPTask/Source/
